h1 {
  font-family: "Arvo", serif;
  font-size: 86px;
}

h2 {
  font-family: "Arvo", serif;
  font-size: 54px
}

h3 {
  font-family: "Arvo", serif;
  font-size: 43px;
}

h4 {
  font-family: "Arvo", serif;
  font-size: 30px;
}

h5 {
  font-family: "Arvo", serif;
  font-size: 21px;
}

h6 {
  font-family: "Arvo", serif;
  font-size: 18px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.container {
  margin: 50px auto;
  max-width: 1000px;
}

.container-title {
}

.container-title p {
  line-height: 24px;
}

.container-report {
  max-width: 800px;
}

.container-video {
  text-align: center;
}